<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        h1 {
            text-align: center;
            margin-top: 20px;
        }

        p {
            margin: 5px 0;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        li {
            margin-bottom: 10px;
        }

        img {
            max-width: 50%;
            height: auto;
            display: block;
            margin: 10px auto;
        }

        a {
            color: #007BFF;
            text-decoration: none;
        }

        .addToCartButton {
            display: block;
            width: 200px;
            margin: 20px auto;
            padding: 10px;
            text-align: center;
            background-color: #007BFF;
            color: #fff;
            font-size: 16px;
            border: none;
            cursor: pointer;
            border-radius: 4px;
        }
        

        .addToCartButton:hover {
            background-color: #0056b3;
        }
        
        #logoutButton {
        position: absolute;
        top: 10px;
        right: 10px;
        }
    </style>
</head>
<body>
    <div>
  <a href="/products">Volver a lista de productos</a>
</div>
    <div>
  <a id="carritoLink" href="#">Carrito</a>
</div>

    <h1>{{title}}</h1>
    <p>Descripcion: {{description}}</p>
    <p>Precio: {{price}}</p>
    <p>Categoria: {{category}}</p>
    <p>Codigo: {{code}}</p>
    <p>Estado: {{status}}</p>
    <p>Stock: {{stock}}</p>
    <h2>Imagen</h2>
    <ul>
        {{#each thumbnail}}
        <li><img src="{{this}}" alt="Imagen"></li>
        {{/each}}
    </ul>
    <button class="addToCartButton" data-productId="{{this._id}}" data-cartId="{{cartId}}">Agregar al carrito</button>
    <a id="logoutButton" href="/logout">Desconectarse</a>
</body>
</html>

<script src="/socket.io/socket.io.js"></script>
<script type="module" src="https://cdn.jsdelivr.net/npm/socket.io-client/dist/socket.io.js"></script>
<script type="module" src="/js/indexProducts.js"></script>