<!-- products.handlebars -->

<!-- Lista de productos -->
<!DOCTYPE html>
<html>
<head>
    <title>List of Products</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        h1 {
            text-align: center;
            margin-top: 20px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px;
            background-color: #fff;
        }

        h3 {
            color: #007BFF;
            margin-bottom: 5px;
        }

        p {
            margin: 5px 0;
        }

        a {
            color: #007BFF;
            text-decoration: none;
        }

        .addToCartButton {
            background-color: #007BFF;
            color: #fff;
            padding: 8px 16px;
            border: none;
            cursor: pointer;
            border-radius: 4px;
        }

        .addToCartButton:hover {
            background-color: #0056b3;
        }

        .container {
        position: relative;
        }

        #logoutButton {
        position: absolute;
        top: 10px;
        right: 10px;
        }
    </style>
</head>
<body>
<div class="container">
  <a id="carritoLink" href="#">Carrito</a>
  <!-- Elemento para mostrar el mensaje de bienvenida -->
    <p id="welcomeMessage"></p>
   <div class="container mt-4">
  <div id="userInfo" class="card" style="display: none;">
    <div class="card-body">
      <h5 class="card-title">Información del Usuario</h5>
      <p class="card-text"><strong>Nombre: </strong> <span id="userName"></span></p>
      <p class="card-text"><strong>Email:</strong> <span id="userEmail"></span></p>
      <p class="card-text"><strong>Edad:</strong> <span id="userAge"></span></p>
      <p class="card-text"><strong>Rol:</strong> <span id="userRole"></span></p>
      <a href="/profile" class="btn btn-primary">Mi perfil</a>
    </div>
  </div>
</div>
  <h1>Lista de productos</h1>
  
  <ul>
    {{#each products.docs}}
    <li>
      <h3>{{this.title}}</h3>
      <p>Precio: {{this.price}}</p>
      <p>Categoria: {{this.category}}</p>
      <a href="/api/products/{{this._id}}">Ver detalles</a>
      <button class="addToCartButton" data-productId="{{this._id}}" data-cartId="{{cartId}}">Agregar al carrito</button>
      <!-- Logout button -->
        <a id="logoutButton" href="/logout">Desconectarse</a>
    </li>
    {{/each}}
  </ul>
</div>
</body>
</html>

<!-- Script para escuchar eventos del botón "Agregar al carrito" y enviar datos al servidor a través de websockets -->
{{!-- <script src="/socket.io/socket.io.js"></script> --}}
<script type="module" src="/js/indexProducts.js"></script>