<div>
    <h4>Students</h4>
    <ul>
        {{#each students.docs}}
            <li>{{this.first_name}} {{this.last_name}}</li>
        {{/each}}
    </ul>
    <div>
        {{#if students.hasPrevPage}}
            <a href="/api/students?page={{students.prevPage}}">Anterior</a>
        {{/if}}
        <span>Pagina {{students.page}} de {{students.totalPages}}</span>
        {{#if students.hasNextPage}}
            <a href="/api/students?page={{students.nextPage}}">Siguiente</a>
        {{/if}}
    </div>
        
</div>